:root {
  --cyborg-color: #e8511d;
}

html,
body {
  background-color: #f0f0f0;
}

.cyborg-color {
  color: var(--cyborg-color);
}

.cyborg-btn-primary,
.cyborg-btn-primary.disabled,
.cyborg-btn-primary:disabled,
.cyborg-btn-primary:focus,
.cyborg-btn-primary:hover {
  border-color: var(--cyborg-color);
  background-color: var(--cyborg-color);
}

.cyborg-btn-secondary {
  border-color: var(--cyborg-color);
  color: var(--cyborg-color);
}

.cyborg-btn-secondary:focus,
.cyborg-btn-secondary:hover {
  border-color: var(--cyborg-color);
  background-color: var(--cyborg-color);
}

.holder {
  margin: 0 auto;
  max-width: 900px;
}

.logo {
  max-width: 300px
}

.logo img {
  display: block;
  height: auto;
  width: 100%;
}

.icon-barcode {
  width: 130px;
}

.icon-barcode img {
  width: 100%;
}

textarea {
  resize: none;
}
